.btn { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    height: 3.75rem;
    padding: 0 1.875rem;
    font-family: var(--font-secondary);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.135rem;
    background: var(--color-blaclk);
    color: var(--color-white);
}

