form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input[type="text"], 
.form input[type="email"], 
.form input[type="password"], 
.form input[type="number"],
.form select {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.1875rem;
    text-transform: uppercase;
    border: 2px solid var(--color-blaclk);
    padding: 0 1.875rem;
    
    background: var(--color-white);
    height: 4.9375rem;

} 