:root {
    --font-primnary: 'Oswald', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    
    --color-white:#FFFF; 
    --color-blaclk:#000000; 
    
    --weight700: 700; 
    --weight500: 500; 
    --weight400: 400; 
}

.categoryImG {
    width: 7rem;    
    border-radius: 50%;
}
.logo-img {
    width: 12rem;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productimg {
  width: 35%;
}

.containerIMG {    
    width: 250px;
    height: 15.625rem;   
    display: flex;
    align-items: center;
    justify-content: center;
}